# Ignore OS/editor clutter
.DS_Store
Thumbs.db

# Local sessions and cache
session.vim
*.swp
*.swo

# Logs and envs
*.log
.env
.env.*

# Common build artifacts
node_modules/
dist/
build/
.target/
target/
.out/

# Python
.venv/
venv/
__pycache__/

# Rust/C
*.o
*.a

# Project-specific
.archive/

